#game-board img {
	width: 25%;
	height: 25%;
	padding: 5px;
	box-sizing: border-box;
}

body {
	background-color: #000000;
}

#help {
	float: right;
	margin-right: 10px;
}

#gameOver {
	font-size: 30px;
	font-family: "Arial Black", sans-serif;
	font-style: italic;
	color: #ffd700;
	text-align: center;
	display:none;
}

h1, p {
	color: #b20000;
	font-weight: bolder; 
}

.popover {
	background: tomato;
}

